<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>356322095608-fs6phnniavj9ncirnfo3d5420jitatua.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.356322095608-fs6phnniavj9ncirnfo3d5420jitatua</string>
	<key>API_KEY</key>
	<string>AIzaSyCPvR4WfzvifWHebsrXT9_Gbk0BlaQKhDE</string>
	<key>GCM_SENDER_ID</key>
	<string>356322095608</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.sshaul.doitApp</string>
	<key>PROJECT_ID</key>
	<string>doit-a35c4</string>
	<key>STORAGE_BUCKET</key>
	<string>doit-a35c4.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:356322095608:ios:4302f841fc8b7d4d0fe60d</string>
</dict>
</plist>